
.notSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectedButton {
	color: #FFFFFF !important;
	background-color: #4D90FE !important;
	background-image: -webkit-linear-gradient(top, #4D90FE, #4787ED)
		!important;
}

.stripe {
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	background-color: #F8F8F8;
}


.left {
	display: block;
	float: left;
}

.right {
	display: block;
	float: right;
}

.clear {
	clear: both;
}